<%- include("header"); -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas fugiat illo cupiditate eligendi aspernatur ex
    deserunt, a magni quo doloremque facilis omnis optio placeat iusto vel distinctio. Iste, perspiciatis.</p>

<%- include("footer"); -%>